// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';

.card_size {
	width: 18rem;
}
.bg-custom-table{
    background-color: rgba(135, 161, 231, 0.711) !important;
}
.bg-custom-row:nth-child(2n+1){
    background-color: rgba(231, 231, 233, 0.575);
    border-collapse: separate; /* Add this line */
}
body {
	background-color: rgb(233, 233, 233) !important;
}
